# Public (required for remote content + admin)
VITE_SUPABASE_URL= https://ccbveihhnzyyzesybkcw.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjYnZlaWhobnp5eXplc3lia2N3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NjgxNjQsImV4cCI6MjA5MTQ0NDE2NH0.WQWffHrI5IA_4Q4RRcuo-J5KsztgWaF1Kv-sFwPzyfg

