@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}

.aboutSectionContainer {
    font-family: 'Poppins', sans-serif;
    height: auto;
    background-color: #3b3f57;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Picture img{
    display: block;
    width: 35vw;
    height: auto;
    border-radius: 50%;
}



.Text h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fff5f5;
}

.Text p{
    font-family: 'Montserrat', sans-serif;
    text-align:justify;
    font-size: 1rem;
    font-weight: 400;
    color: #fff5f5;
}


