.footerContainer {
    background-color: #e35860;
    color: #fff;
    padding: 12px 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}