.navbar {
  background-color: #1f2235;
  color: #e35860;
  padding: 34px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  flex-wrap: nowrap;
}

.navbar p {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}

.navbar p:hover {
  color: #fffbfb;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.3s ease;
}

/* bounce effect p clicked */
.navbar p:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul li {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar ul li:hover {
  color: #fffbfb;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar ul li a {
  color: #e35860;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #fffbfb;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.3s ease;
}

@media (max-width: 375.9px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 15px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .navbar p {
    font-size: 1.6rem;
    transform: translateX(-25px);
    transition: all 0.3s ease;
  }
  .navbar ul {
    flex-direction: row;
    gap: 5px;
  }
  .navbar ul li {
    font-size: 40px;
  }
}

@media (max-width: 425.9px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    transition: all 0.3s ease;
  }
  .navbar p {
    font-size: 1.6rem;
    transition: all 0.3s ease;
  }
  .navbar ul {
    flex-direction: row;
    gap: 10px;
  }
  .navbar ul li {
    font-size: 3vw;
  }
}

@media (max-width: 768.9px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
  }
}
