.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #1f2235;
  color: #e35860;
  padding: auto;
  height: 100vh;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  /* z-index: 1; */
}

.hero-content {
  z-index: 10;
}

span {
  max-width: max-content;
}

.text {
  font-size: 28px;
  font-weight: 500;
  transition: all 0.3s ease;
  grid-column: span 2;
  line-height: 1;
  display: flex;
  flex-direction: column;
  max-width: max-content;

}

.name {
  font-size: 120px;
  font-weight: 800;
  transition: all 0.3s ease;
  letter-spacing: 10px;
}

.greetings,
.job {
  color: #fff5f5;
}

img {
  display: block;
  height: 50vh;
  z-index: 10;
  justify-self: end;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0d0d0d;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 768.9px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    padding: 0 10vw;
  }

  .text {
    grid-column: 1;
    grid-row: 2;
    font-size: 1rem;
    grid-column: span 2;
  }

  .name {
    font-size: 120px;
  }

  img {
    display: none;
    transition: all 0.3s ease;
  }
}

@media (min-width: 1024.9px) {
  img {
    height: 50vh;
    transition: all 0.3s ease;
  }

  .name {
    font-size: 8rem;
  }

  .job, .greetings{
    font-size: 2.2rem;
  }
}

@media (min-width: 1440px) {
  img {
    height: 500px;
    transition: all 0.3s ease;
  }
}