* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* poppins-regular - latin */
@media (max-width: 768px) {
  .swal2-popup-custom-size {
    scale: 0.8;
  }
}

@media (min-width: 1024px) {
  .projectSectionContainer,
  .currentSectionContainer,
  .futureSectionContainer {
    padding: 20px 12% !important;
    height: auto !important;
  }
  .contactSectionContainer {
    padding: 20px 12% !important;
    height: auto !important;
  }
}
